@model IEnumerable<My_Application.Models.DataGet>
@{
    Layout = "/Views/Shared/_LayoutMainDataTable.cshtml" ; 
}

    <div class="container mb-3">
        <table class="table table-striped table-border text-white mydatatable" style="width: 100%;">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.DateTime)</th>
                    <th>@Html.DisplayNameFor(model => model.Count)</th>
                    <th>@Html.DisplayNameFor(model => model.PerSale)</th>
                    <th>@Html.DisplayNameFor(model => model.SalesTax)</th>
                    <th>@Html.DisplayNameFor(model => model.ReceivedMoney)</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.DateTime)</td>
                            <td>@Html.DisplayFor(modelItem => item.Count)</td>
                            <td>@Html.DisplayFor(modelItem => item.PerSale)</td>
                            <td>@Html.DisplayFor(modelItem => item.SalesTax)</td>
                            <td>@Html.DisplayFor(modelItem => item.ReceivedMoney)</td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>